/next-client/node_modules
/next-client/.next
/lara-backend/vendor

/lara-backend/.phpunit.cache
/lara-backend/node_modules
/lara-backend/public/build
/lara-backend/public/hot
/lara-backend/public/storage
/lara-backend/storage/*.key
/storage/pail
/lara-backend/vendor
/lara-backend/.env
/lara-backend/.env.backup
/lara-backend/.env.production
/lara-backend/.phpactor.json
/lara-backend/.phpunit.result.cache
/lara-backend/Homestead.json
/lara-backend/Homestead.yaml
/lara-backend/npm-debug.log
/lara-backend/yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
